*{
    margin: 0;
    padding: 0;
}
.main{
width: 50%;
background: url(/img/unfold.png);
background-position: center;
background-size: cover;
height: 100vh;
position: relative;
font-family: 'Courier New', Courier, monospace;

}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
ul{
    margin-top: -4;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkgoldenrod;
    margin-top: 30%;
    transition: .8s ease;
}
ul li a:hover{
    color: darkslategray;
}
info{
    margin: 7%;
    margin-top: 6%;
}
.info h1{
    font-size: 39px;
    color: brown;
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color:gold
}
